# Database
DB_URL=jdbc:postgresql://localhost:5432/HerRide
DB_USERNAME=postgres
DB_PASSWORD=postgres

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Kafka
KAFKA_SERVERS=localhost:9092

# JWT
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
JWT_EXPIRATION=86400000
JWT_REFRESH_EXPIRATION=604800000

# Paystack
PAYSTACK_SECRET_KEY=sk_test_your_key_here
PAYSTACK_BASE_URL=https://api.paystack.co

# Termii
TERMII_API_KEY=your_termii_api_key_here
TERMII_BASE_URL=https://api.ng.termii.com
TERMII_SENDER_ID=HerRide
